@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1020px) {
  .responsive-hidden {
    display: none;
  }
  .responsive-text-center {
    justify-content: around;
  }
  .responsive-show {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}